@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
body{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    background-image: url('./Backgroung-1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


div{
    background-color: darkgray;
    margin-top: 50px;
    opacity: 0.8;
}


h1{
    font-size: 40px;
}


h3{
    font: size 30px;
    color: darkgreen
}


label{
    font: size 25px;
    color: darkblue;
}


span{
    color: darkmagenta;
    font-size: 25px;
}